<h1> Using components here </h1>

<br><strong>Prining scores</strong>
{{table-render data=model}}
<br><strong>Printing list</strong>
<ul>
  {{#each model as |eval| }}
    <li>{{eval.name}}</li>
  {{/each}}
</ul>


